/* roboto-100normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin '),
    local('Roboto-Thin'),
    url(/reactfy/987b84570ea69ee660455b8d5e91f5f1.woff2) format('woff2'), 
    url(/reactfy/e9dbbe8a693dd275c16d32feb101f1c1.woff) format('woff'); /* Modern Browsers */
}

/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin italic'),
    local('Roboto-Thinitalic'),
    url(/reactfy/6232f43d15b0e7a0bf0fe82e295bdd06.woff2) format('woff2'), 
    url(/reactfy/d704bb3d579b7d5e40880c75705c8a71.woff) format('woff'); /* Modern Browsers */
}

/* roboto-300normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url(/reactfy/55536c8e9e9a532651e3cf374f290ea3.woff2) format('woff2'), 
    url(/reactfy/a1471d1d6431c893582a5f6a250db3f9.woff) format('woff'); /* Modern Browsers */
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light italic'),
    local('Roboto-Lightitalic'),
    url(/reactfy/d69924b98acd849cdeba9fbff3f88ea6.woff2) format('woff2'), 
    url(/reactfy/210a7c781f5a354a0e4985656ab456d9.woff) format('woff'); /* Modern Browsers */
}

/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url(/reactfy/5d4aeb4e5f5ef754e307d7ffaef688bd.woff2) format('woff2'), 
    url(/reactfy/bafb105baeb22d965c70fe52ba6b49d9.woff) format('woff'); /* Modern Browsers */
}

/* roboto-400italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url(/reactfy/d8bcbe724fd6f4ba44d0ee6a2675890f.woff2) format('woff2'), 
    url(/reactfy/9680d5a0c32d2fd084e07bbc4c8b2923.woff) format('woff'); /* Modern Browsers */
}

/* roboto-500normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url(/reactfy/285467176f7fe6bb6a9c6873b3dad2cc.woff2) format('woff2'), 
    url(/reactfy/de8b7431b74642e830af4d4f4b513ec9.woff) format('woff'); /* Modern Browsers */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url(/reactfy/510dec37fa69fba39593e01a469ee018.woff2) format('woff2'), 
    url(/reactfy/ffcc050b2d92d4b14a4fcb527ee0bcc8.woff) format('woff'); /* Modern Browsers */
}

/* roboto-700normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold '),
    local('Roboto-Bold'),
    url(/reactfy/037d830416495def72b7881024c14b7b.woff2) format('woff2'), 
    url(/reactfy/cf6613d1adf490972c557a8e318e0868.woff) format('woff'); /* Modern Browsers */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold italic'),
    local('Roboto-Bolditalic'),
    url(/reactfy/010c1aeee3c6d1cbb1d5761d80353823.woff2) format('woff2'), 
    url(/reactfy/846d1890aee87fde5d8ced8eba360c3a.woff) format('woff'); /* Modern Browsers */
}

/* roboto-900normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black '),
    local('Roboto-Black'),
    url(/reactfy/19b7a0adfdd4f808b53af7e2ce2ad4e5.woff2) format('woff2'), 
    url(/reactfy/8c2ade503b34e31430d6c98aa29a52a3.woff) format('woff'); /* Modern Browsers */
}

/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black italic'),
    local('Roboto-Blackitalic'),
    url(/reactfy/7b770d6c53423deb1a8e49d3c9175184.woff2) format('woff2'), 
    url(/reactfy/bc833e725c137257c2c42a789845d82f.woff) format('woff'); /* Modern Browsers */
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: 'Roboto', sans-serif;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* Para tablets */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* Para desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/*# sourceMappingURL=style.css.map*/